<div class="bg-main-color p-5 text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 my-3">
        <h4 class="text-uppercase">LOCATION</h4>
        <p>
          2215 John Daniel Drive<br />
          Clark, MO 65243
        </p>
      </div>
      <div class="col-sm-4 my-3">
        <h4 class="text-uppercase">AROUND THE WEB</h4>
        <div class="d-flex justify-content-center align-items-center">
          <div class="border rounded-circle p-2 mx-2">
            <i class="fa-brands fa-facebook-f"></i>
          </div>
          <div class="border rounded-circle p-2 mx-2">
            <i class="fa-brands fa-linkedin-in"></i>
          </div>
          <div class="border rounded-circle p-2 mx-2">
            <i class="fa-brands fa-twitter text-white"></i>
          </div>
          <div class="border rounded-circle p-2 mx-2">
            <i class="fa-solid fa-globe text-white"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-4 my-3">
        <h4 class="text-uppercase">ABOUT FREELANCER</h4>
        <p>
            Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div>
  </div>
</div>
